# Xydonian language config file

name = xy

locale = xy

modules.classes.list = marytts.modules.JPhonemiser(xy.) \
                       marytts.modules.MinimalisticPosTagger(xy,xy.)

xy.allophoneset = jar:/marytts/language/xy/lexicon/allophones.xy.xml
xy.lexicon = jar:/marytts/language/xy/lexicon/xy_lexicon.fst
xy.lettertosound = jar:/marytts/language/xy/lexicon/xy.lts
